body{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	line-height: 1.5;
	font-weight: 700;
	font-size: 16px;
	background: rgb(216, 216, 216);
	color: #fff;
}
.wrapper{
	overflow: hidden;
	min-height: 100%;
	position: relative;
}
[class*="__container"]{
	max-width: 1200px;
	margin: 0 auto;
}
/* ----------------------------- */
.header{
	background-color: #333;
	padding: 30px 0;
	width: 100%;
}
.header__link{
	display: inline-block;
	position: relative;
	top: 0;
	left: 800px;
	transition: all 0.5s ease 0s;
}
.header__link:hover{
	transform: scale(2);
}
/* ------------------------------- */
.page {
	padding: 30px;
}
.page__container{
	display: flex;
	flex-wrap: wrap;
	gap: 100px;
}
.page__body {
	width: 200px;
	height: 200px;
	background: #666;
}
.page__body:not(:last-child){
	margin-bottom: 80px;
}
.page__section{
	padding: 10px;
	width: 200px;
	height: 200px;
	background: #368495;
}
.page__section--translate {
	transform: translate(20px, 15%);
}
.page__section--scale {
	transform: scale(0.8, 1.1);
}
.page__section--rotate {
	transform: rotate(0deg);
	transition: all 1.2s ease 0s;
}
.page__section--rotate:hover {
	transform: rotate(360deg);
}
.page__section--skew {
	transform: skew(0deg, 0deg);
	transition: all 0.5s ease 0s;
}
.page__section--skew:hover {
	transform: skew(-10deg, 0deg);
}
.page__section--matrix {
	transform: matrix(0.9, 0.1, 0.5, 0.5, 30, 30);
}
.page__section--all-2d {
	transform: translate(10%, 10%) rotate(10deg) scale(0.7) skew(5deg, 5deg);
}
.page__section--transform-origin {
	transform-origin: 0 0;
	transform: rotate(20deg);
}
/* -------------------------- */
.page__body--perspective{
	perspective-origin: 0 0;
	perspective: 200px;
}
.page__section--perspective {
	transform: rotateX(45deg);
}
/* ---------------------------- */
.page__body--3d-perspective{
	perspective: 500px;
}
.page__section--3d-translate {
	transform: translate3d(20px, 20px, 20px);
}
.page__section--3d-scale {
	transform: scale3d(1, 1, 1);
}
.page__section--3d-rotate {
	transform: rotate3d(1, 1, 1, 50deg);
}
.page__section--3d-all {
	transform: translate3d(20px, 20px, 20px) scale3d(0.5, 0.5, 0.5);
}
/* ---------------------- */
.page__body--style{
	background: rgba(102, 102, 102, 0.7);
	perspective: 300px;
	transform-style: preserve-3d;
}
.page__section--style {
	transform: rotateY(360deg);
	transition: all 0.5s ease 0s;
}
.page__body--style:hover .page__section--style{
	transform: rotateY(0deg);
}

.page__body--backface{
	perspective: 300px;
	transform-style: preserve-3d;
}
.page__section--backface-visibility {
	transform: rotateY(360deg);
	transition: all 0.5s ease 0s;
	backface-visibility: hidden;
}
.page__body--backface:hover .page__section--backface-visibility{
	transform: rotateY(180deg);
	transition: all 0.5s ease 0s;
}
/* ============================================================================ */
.block{
	max-width: 100%;
	background: #000;
	transition: all 1s ease 0s;
	position: relative;
	overflow: hidden;
}
.block img{
	width: 100%;
	opacity: 0;
	transition: all 1s ease 0s;
	transform: rotate(360deg) scale(0.1);
}
.block:hover img{
	opacity: 1;
	transform: rotate(0deg) scale(1);
}
.block__sun{
	width: 100px;
	height: 100px;
	background: #0c0b12;
	box-shadow: 5px 5px 100px #ffffff;
	border-radius: 50%;
	position: absolute;
	top: 150px;
	left: 80px;
	z-index: 5;
	transition: all 1s ease 0s;
	transform: scale(1);
}
.block:hover .block__sun{
	/* width: 150px;
	height: 150px; */
	transform: scale(1.5);
	top: 50px;
	left: 600px;
	background: yellow;
	box-shadow: 5px 5px 90px #f2ff00;
}
.block__paragraph{
	font-size: 42px;
	font-weight: 700;
	letter-spacing: 5px;
	text-align: center;
	position: absolute;
	top: 200px;
	left: 200px;
	transition: all 1s ease 0s;
	transform: translate(-300%);
	opacity: 0;
}
.block:hover .block__paragraph{
	opacity: 1;
	transform: translate(0);
}
.block__text{
	color: #fff;
	font-size: 42px;
	position: absolute;
	top: 300px;
	left: 800px;
	transition: all 1s ease 0s;
	transform: translate(0);
}
.block:hover .block__text{
	transform: translateY(-1000%);
}
.block__boat{
	max-width: 100%;
	position: absolute;
	top: 500px;
	left: 800px;
	transition: all 1s ease 0s;
}
.block__boat img{
	width: 100%;
	width: 600px;
	transform: scale(-1);
}
.block:hover .block__boat{
	transform: translate(70%, -15%);
}
.block__umbrella{
	position: absolute;
	top: 200px;
	left:-60px;
	max-width: 100%;
}
.block__umbrella img{
	width: 100%;
	width: 1000px;
	transform: translate(100%);
}
.block:hover .block__umbrella{
	transform: scale(-1, 1) translate(0);
}
.block__fls{
	max-width: 100%;
	position: absolute;
	top: 400px;
	left: 100px;
	transform:  translate(200%);
}
.block__fls img{
	width: 100%;
}
.block:hover .block__fls{
	transform:scale(-1, 1) translate(0);
}






