@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700,700italic,900,900italic&display=swap");

@font-face {
	font-family: "Larsseit";
	src: url("../fonts/Larsseit-Regular.woff2") format("woff2"), url("../fonts/Larsseit-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Larsseit";
	src: url("../fonts/Larsseit-Medium.woff2") format("woff2"), url("../fonts/Larsseit-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Larsseit";
	src: url("../fonts/Larsseit-Bold.woff2") format("woff2"), url("../fonts/Larsseit-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

body{
	font-family: "Roboto";
	font-size: 18px;
	font-weight: 400;
	line-height: 1.5;
}
/* ------------------------------------ */
.menu__link {
	color: rgb(255, 0, 0);
}
/* ------------------------------------- */
.block__title {
	color: rgb(108, 0, 54);
}
/* ---------------------------- */
.block__university-1 .block__sub-title {
	color: blueviolet;
}
.block__university-1 p{
	color: rgb(95, 121, 41);
}
/* ------------------------------------- */
.block__university-2 .block__sub-title{
	color: rgb(20, 120, 150);
}
.block__university-2 p{
	color: rgb(255, 81, 81);
}
/* --------------------------------- */
.block__university-3 .block__sub-title{
	font-family: "Lato";
}
.block__university-3 p{
	color: rgb(0, 176, 176);
}
/* ----------------------------------- */
.block__university-4 {
	font-family: "Larsseit";
}
.block__university-4 .block__sub-title {
	color: rgb(96, 65, 17);
}
.block__university-4 .block__text-1,.block__text-2{
	color: rgb(66, 86, 241);
}
.block__university-4 .block__text-3,.block__text-4{
	color: rgb(16, 197, 25);
}
.block__university-4 .block__text-5 {
	color: rgb(19, 126, 112);
}
.block__list li{
	color: red;
}
/* ------------------------- */
.block__university-5 h2{
	color: rgb(248, 150, 30);
}
.block__university-5 p{
	color: rgb(204, 96, 114);
}
/* ------------------------------------------------------ */
.footer{
	font-family: "Lato";
}
.footer__link {
	color: rgb(131, 92, 167);
}
