@import url('https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap');
body{
	font-family: 'Lato';
	line-height: 1.6;
	color: #424551;
}
.wrapper{
	overflow: hidden;
	min-height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
}
.wrapper > main{
	flex: 1 1 auto;
}
/* ================================== */
/* Обмежуючий контейнер */
[class*="__container"]{
	max-width: 1260px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.page{}
.page__main {}
/* ====================== */
.header {
	background: linear-gradient(55.95deg, rgba(253, 125, 121, 1) 0%, rgba(248, 146, 86, 1) 100%);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
	padding: 20px 0;
}
.header__container {
	display: flex;
	align-items: center;
	gap: 60px;
}
.header__logo {}
.header__menu {
	flex-grow: 1;
}
.header__actions {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	flex: 1 0 auto;
	gap: 36px;
}
.menu {}
.menu__list {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	row-gap: 10px;
	column-gap: 40px;
}
.menu__item {}
.menu__link {
	font-weight: 700;
}
.menu__link:hover {
	text-decoration: underline;
}
.actions-header {}
.actions-header__button {}
.actions-header__auth {
	background: url('../img/icons/user.svg') left no-repeat;
	padding-left: 26px;
	line-height: 1.25;
	font-weight: 700;
}
.actions-header__auth:hover span{
	text-decoration: underline;
}
/* ==================================== */
.main-block {
	position: relative;
	padding: 200px 0 80px 0;
	background: linear-gradient(55.95deg, rgba(255, 64, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
}
.main-block__container {
	position: relative;
	z-index: 2;
}
.main-block__body {
	margin-bottom: 190px;
	display: flex;
}
.main-block__advantages {}
.main-block__decor {}

.body-main {}
.body-main__content {
	align-self: center;
	padding-right: 40px;
	flex: 0 1 50%;
}
.body-main__play {
	display: inline-flex;
	font-size: 14px;
	font-weight: 700;
	line-height: 1.5;
	color: #1E212C;
	align-items: center;
	gap: 16px;
	position: relative;
}
.body-main__play::before {
	content: "";
	flex: 0 0 52px;
	width: 52px;
	height: 52px;
	border-radius: 50%;
	background: #FF3F3A url('../img/main-block/icons/play.svg') center no-repeat;
	padding-left: 32px;
}
.body-main__play::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 52px;
	height: 52px;
	border-radius: 50%;
	background: rgba(255, 64, 58, 0.12);
	transform: scale(1.6);
	animation:play 2s infinite ease;
}
.body-main__play:hover::after {
	animation-play-state: paused;
}
@keyframes play{
	0%{
		transform: scale(0);
	}
	100%{
		transform: scale(3);
		opacity: 0;
	}
}
.body-main__play:not(:last-child) {
	margin-bottom: 40px;
}
.body-main__title {
	color: #1E212C;
	letter-spacing: 1px;
	font-size: 64px;
	font-weight: 900;
	line-height: 1.3;
}
.body-main__title:not(:last-child) {
	margin-bottom: 60px;
}
.body-main__actions {
	display: flex;
	gap: 24px;
}
.body-main__actions:not(:last-child) {
	margin-bottom: 40px;
}
.body-main__button {}
.body-main__media {
	flex: 0 1 50%;
}
.body-main__image {
	max-width: 107.8%;
	transform: translate(7.8%, 0);
}


.advantages-main {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
}
.advantages-main__item {}
.item-advantages {
	display: flex;
	align-items: center;
	gap: 12px;
	color: #1E212C;
}
.item-advantages__value {
	font-size: 46px;
	line-height: 1.3;
	font-weight: 900;
}
.item-advantages__text {}
.advantages-main__circle{
	flex: 0 0 8px;
	height: 8px;
	border-radius: 50%;
	background: #FF3F3A;
}

.decor-main {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.decor-main__item {
	position: absolute;
}
.decor-main__item--1 {
	background: url('../img/main-block/decor/01.svg') 0 0 no-repeat;
	width: 96px;
	height: 96px;
	top: 12.3%;
	left: 4.2%;
}
.decor-main__item--2 {
	background: url('../img/main-block/decor/02.svg') 0 0 no-repeat;
	width: 284px;
	height: 284px;
	bottom: -9.2%;
	left: -5.8%;
}
.decor-main__item--3 {
	background: url('../img/main-block/decor/03.svg') 0 0 no-repeat;
	width: 88px;
	height: 47px;
	top: 46%;
	left: 40.5%;
}
.decor-main__item--4 {
	background: url('../img/main-block/decor/04.svg') 0 0 no-repeat;
	width: 61px;
	height: 61px;
	bottom: 24%;
	left: 38%;
}
.decor-main__item--5 {
	background: url('../img/main-block/decor/01.svg') 0 0 no-repeat;
	width: 96px;
	height: 96px;
	top: -2%;
	right: 5%;
	transform: rotate(135deg);
}
.decor-main__item--6 {
	background: url('../img/main-block/decor/05.svg') 0 0 no-repeat;
	width: 187px;
	height: 137px;
	bottom: 18%;
	right: -1.5%;
}
/* =============================== */
.why {
	position: relative;
	padding: 180px 0;
}
.why__container {
	display: flex;
	position: relative;
	z-index: 2;
}
.why__media {
	flex: 0 1 57.3%;
}
.why__image {}
.why__content {
	flex: 0 1 42.6%;
	padding-left: 135px;
}

.why__titles {}
.why__titles:not(:last-child) {
	margin-bottom: 40px;
} 

.why__list {
	display: flex;
	flex-direction: column;
	gap: 12px;
}
.why__list:not(:last-child) {
	margin-bottom: 22px;
} 
.why__item {
	margin-left: 32px;
}
.why__item::before {
	content: "";
	background: url('../img/why/icons/check.svg') left no-repeat;
	top: 0;
	left: 0;
	padding-left: 32px;
	margin-left: -32px;
	width: 16px;
	height: 16px;
}
.why__button {}
.why__button:not(:last-child) {
	margin-bottom: 22px;
} 

.why__decor {
}
.decor-why {}
.decor-why__item {
	position: absolute;
}
.decor-why__item--1 {
	background: url('../img/why/decor/01.svg') 0 0 no-repeat;
	transform: rotate(-52.46deg);
	opacity: 0.8;
	width: 180px;
	height: 130px;
	top: 26%;
	left: -4%;
}
.decor-why__item--2 {
	background: url('../img/why/decor/02.svg') 0 0 no-repeat;
	opacity: 0.12;
	width: 287px;
	height: 287px;
	bottom: 21.1%;
	right: -8.5%;
}