@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700,700italic,900,900italic&display=swap");

@font-face {
	font-family: "Larsseit";
	src: url("../fonts/Larsseit-Regular.woff2") format("woff2"), url("../fonts/Larsseit-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Larsseit";
	src: url("../fonts/Larsseit-Italic.woff2") format("woff2"), url("../fonts/Larsseit-Italic.woff") format("woff");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "Larsseit";
	src: url("../fonts/Larsseit-Medium.woff2") format("woff2"), url("../fonts/Larsseit-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Larsseit";
	src: url("../fonts/Larsseit-Bold.woff2") format("woff2"), url("../fonts/Larsseit-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Larsseit";
	src: url("../fonts/Larsseit-BoldItalic.woff2") format("woff2"), url("../fonts/Larsseit-BoldItalic.woff") format("woff");
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

body{
	font-family:"Larsseit", sans-serif;
	font-size: 20px;
	line-height: 1.25;
	padding: 30px;
}
/* ------------------------------------ */
.block1 {
	margin-bottom: 50px;
	background-color: rgb(255, 194, 194);
	padding: 15px;
	width: 1000px;
}
.block1__title {
	font-size: 26px;
	font-style: italic;
	font-weight: 700;
	color: rgb(255, 0, 0);
	text-align: center;
	text-transform: uppercase;
}
.block1__text1 {
	font-style: oblique;
	color: rgb(0, 107, 25);
	text-align: right;
}
.block1__text2 {
	color: rgb(31, 31, 255);
	text-align: justify;
}

.block2 {
	background-color: rgb(155, 253, 138);
	padding: 15px;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	margin-bottom: 50px;
	width: auto;
}
.block2__title {
	font-weight: 900;
	font-size: 26px;
	color: rgb(53, 53, 53);
	text-decoration: line-through;
	text-align: center;
}
.block2__text1 {}
.block2__text2 {}

.block3 {
	font-family: "Lato", sans-serif;
	margin-bottom: 50px;
	background-color: rgb(248, 150, 255);
	padding: 15px;
	width: 1200px;
}
.block3__title {
	font-weight: 700;
	font-size: 26px;
	text-decoration: overline;
	text-align: center;
	letter-spacing: 5px;
}
.block3__text1 {}
.block3__link {
	color: rgb(128, 0, 179);
	font-weight: 700;
	text-transform: uppercase;
}
.block3__text2 {
	text-indent: 50px;
	text-decoration: underline;
}
.block3__text3 {
	text-shadow: 2px 2px 2px #000;
	font-weight: 700;
	text-transform: capitalize;
}
.block3__text4 {
	text-transform: lowercase;
}
.block3__text5 {
	white-space: nowrap;
	text-decoration: underline;
}
.block3__text6 {
	word-spacing: 20px;
}